#Eclipse Metadata
.project
.pydevproject
.settings/

#Ignore Python Build Files
*.pyc

nyc/images
ocr/images
ocr/large-images
ocr/backing-images.urls.txt

*.sqlite
*.ipynb

# user-generated data
user-feedback*.csv
corrections.json
ocr/feedback/validation
