#Eclipse Metadata
.project
.pydevproject
.settings/

#Ignore Python Build Files
*.pyc

nyc/images
ocr/images
ocr/large-images
ocr/backing-images.urls.txt

*.sqlite
*.ipynb

# user-generated data
user-feedback*.csv
user-feedback*.json
fixes.json
corrections.json
ocr/feedback/validation
ocr/feedback/review/changes.js
feedback.json

.vscode
.DS_Store
.nypl-token.txt
.google-maps-api-key.txt
geocache

# Large files that can be generated
nyc/records.pickle
nyc/records.json
crawl/all-urls.txt
crawl/milstein-captures.json
crawl/milstein-items.json
nyc-records.extended.json
nyc/unlocated.csv
