html, body {
  width: 100%;
  height: 100%;
}

body {
  background-color: #fff;
  font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
  font-size: 0.8em;
  text-rendering: optimizeLegibility;
  margin: 0;
}
a {
  text-decoration: none;
}

h2 {
  font-size: 20px;
  margin: 7px 0px;
}
h2 a {
  display: block;
  color: #111;
}
.header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 55px;
  background: transparent;
  min-width: 640px;
}

#map {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#about {
  font-size: 1.1em;
  width: 38px;
  margin: -15px;
  padding: 15px;
  padding-top: 18px;
}
#about:hover{
  text-decoration: underline;
}
#about a, #about a:visited {
  display: block;
  color: #404040;
  font-weight: bold;
  text-shadow: 0 1px 1px rgba(255,255,255,.9);
}
#facebook {
  width: 121px;
}
#twitter {
  width: 100px;
}
.logo {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #fff;
}
.logo .wrapper {
  font-size: 1.2em;
  padding: 10px;
}

.logo a {
  font-family: Georgia, serif;
  font-size: 2em;
  color: #111;
  line-height: 1em;
  display: inline-block;
}

.logo .slogan {
  display: inline-block;
  margin-left: 10px;
  font-size: 0.85em;
  line-height: 1.2em;
}

.header .social-about {
  position: absolute;
  top: 10px;
  left: 300px;
  padding: 15px;
  padding-bottom: 12px;
}

.header .social-about > div {
  float: left;
}

#facebook {
  margin-right: 10px;
}

#feedback a {
  background-image: url('../images/feedback_tab_white.png');
  text-indent: -1000px;
  width: 22px;
  height: 90px;
  position: absolute;
  left: 0px;
  width: 22px;
  height: 90px;
  bottom: 100px;
  padding: 2px;
  background-color: #c33c3c;
  border-left: none;
}

.curtains {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #111;
  opacity: 0.9;
}

#grid-container {
  position: fixed;
  z-index: 2;
  top: 55px;
  left: 180px;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
}

#expanded-controls {
  position: fixed;
  top: 55px;
  left: 0;
  height: 150px;
  width: 150px;  /* matches #grid-container.margin-right */
  padding: 15px;
  padding-top: 0px;
}

#expanded-controls .location {
  color: white;
  font-size: 1.6em;
  white-space: pre-line;
  width: 150px;
  margin-top: 5px;
}

div.exit {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 35px;
  font-size: 35px;
  line-height: 35px;
  color: white;
  cursor: pointer;
}
div.exit:hover {
  color: gray;
}

.og-grid {
  padding-top: 0;
}

/* reclaim some space */
.og-close {
  display: none;
}
.og-expander-inner {
  padding: 20px 30px;
}
.og-details {
  padding-right: 0;
  width: 40%;
}
.og-fullimg {
  width: 60%;
}
.og-fullimg > img {
  transition: transform 200ms;
}

#preview-map {
  width: 150px;
  height: 150px;
  cursor: pointer
}

#expanded .og-fullimg img:hover {
  cursor: pointer;
}

#expanded .header {
  background: transparent;
}
#expanded .logo {
  background: transparent;
}

#expanded .logo a {
  color: white;
  cursor: pointer;
}
#expanded .logo a:hover {
  color: gray;
}
.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 50px solid #DADADA; 
}
.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent; 
  border-right:50px solid #DADADA; 
}
.arrow-left:hover{
  border-right:50px solid #fff;
}
.arrow-right:hover{
  border-left:50px solid #fff;
}

.spacer {
  height: 64px;
}

/* Popular Photos */
#popular, .popular-link {
  position: absolute;
  top: 10px;
  width: 213px;
  right: 10px;
  background: #eee;
  padding: 0 10px;
}

#popular {
  overflow-y: scroll;
  bottom: 30px;
}

#popular h2, .popular-link h2 {
  font-size: 16px;
}

.popular-photo {
  padding-bottom: 15px;
}
.popular-photo p {
  margin: 0 auto;
}

/* for "About" page */

#title {
  font-size: 24px;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-left: 5px;
}

#content-area {
  font: 1em;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 0 20px;
}
#content-area h3{
  padding: 0;
  margin: 0;
  padding-top: 15px;
}

/* image grid */
.rotate {
  position: absolute;
  bottom: 0;
  right: 0;
}

.description{
  font-weight: bold;
  font-size: 20px;
}


.text {
  margin: 20px 0;
  margin-top: 10px;
  padding-right: 30px;
  font-size: 16px;
  white-space: pre-line;
}

.more-on-back {
  margin: 10px 0;
  font-size: 16px;
}

.feedback-link {
  margin: 20px 0;
  font-size: 14px;
}

.comments{
  margin-top: 10px !important;
}

.og-grid li {
  margin: 0 5px 10px 5px;  /* moves margin from top to bottom */
}

.og-grid li.og-expanded > a::after {
  border-bottom-color: #fff;
}

.og-expander {
  background: #fff;
}

.og-details {
  overflow-y: auto;
}

.og-details h3 {
  font-size: 22px;
}

.share {
  padding-top: 3px;
  display: inline-block;
}

.email-share-form {
  position: absolute;
  margin-top: 25px;
  padding: 5px;
  border: 1px solid #111;
  background: #eee;
  text-align: left;
  line-height: 1.5em;
  box-shadow: 2px 2px 4px #999;
  left: 0;
  z-index: 1;
}
.email-share-form div {
  text-align: right;
}

.og-details .tweet, .og-details .facebook-holder {
  display: inline-block;
  vertical-align: top;
  height: 20px;
  overflow: hidden;  /* this hides the "Like" flyout */
}
.og-details .social, .more-on-back {
  margin: 10px 0;
}
.og-details .share {
  padding-bottom: 5px;
}
.og-details > div {
  position: relative;
}

.details, .feedback {
  position: absolute;
  left: 0;
  right: 0;
}

.feedback p, .feedback button {
  padding: 5px;
  margin: 10px 0;
  display: block;
}
.feedback input {
  padding: 5px;
}
.feedback p { padding-left: 0; }
.feedback .suggest-date button {
  display: inline-block;
}
.feedback a.back { style: italic; }


#popular::-webkit-scrollbar, .og-details::-webkit-scrollbar-thumb {
  width: 6px;
  height: 6px;
  padding: 18px;
  -webkit-border-radius: 1ex
}

#popular::-webkit-scrollbar-thumb, .og-details::-webkit-scrollbar-thumb {
  background-color: rgba(053,057,071,0.3);
  padding: 8px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 1ex;
}

#popular .close {
  position: absolute;
  top: 6px;
  right: 10px;
  height: 1.5em;
  line-height: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
}

#popular .close:hover {
  color: gray;
}

#about-page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
#about-page .container {
  background: #fff;
  position: fixed;
  top: 20px;
  left: 50%;
  width: 100%;
  max-width: 960px;
  margin-left: -480px;
  bottom: 20px;
}
