body {
  background-color: #fff;
  font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
  font-size: 0.8em;
  text-rendering: optimizeLegibility;
}
a {
  text-decoration: none;
}
#header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 55px;
  background: #fff;
  min-width:800px;
}

#map {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#about {
  position: absolute;
  right: 0px;
  font-size: 1.1em;
  padding: 20px 20px 19px 20px;
  color: #fff;
}
#about:hover{
  background: #f6f6f6;
}
#about a, #about a:visited {
  color: #111;
}
#logo {
  position: absolute;
  left: 0px;
  font-size: 2.2em;
  height: 54px;
  width: 130px;
  text-align: center;
}
/*#logo:hover{
  background: #f6f6f6;
  }*/
#logo .wrapper{
  padding: 11px 0;
}
#logo a{
  color: #111;
  font-family: 'Adobe Garamond Pro', serif;
}
#slider-arrow-white-down{
  width: 0; 
  height: 0;
  position: absolute;
  top: 25px;
  left: 268px;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 8px solid #111;
}
#date_range {
  font-size: 1.7em;
  width: 145px;
  text-align: center;
  height: 54px;
  color: #111;
  font-weight: normal;
  font-weight: 300;
  padding-right: 20px;
  margin: 0px 0 0 132px;
  cursor: pointer;

  /* prevents selecting the date range on click */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#date_range .wrapper{
  padding: 15px 0;
}
#date_range:hover, #date_range:active {
  text-decoration: none;
  background: #f6f6f6;
}
#date_range a, #date_range a:hover {
  text-decoration: none;
}

#twitter {
  position: absolute;
  top: 26px;
  right: 122px;
}

#feedback a {
  background-image: url('feedback_tab_white.png');
  text-indent: -1000px;
  width: 22px;
  height: 90px;
  position: absolute;
  left: 0px;
  width: 22px;
  height: 90px;
  bottom: 100px;
  padding: 2px;
  background-color: #c33c3c;
  border-left: none;
}

#curtains {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #111;
  opacity: 0.95;
}

#grid-container {
  z-index: 2;
  margin-right: 170px;
}

#expanded-controls {
  z-index: 1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 150px;  /* matches #grid-container.margin-right */
  padding: 20px;
  padding-top: 30px;
}
#expanded-controls a, #expanded-controls a:visited {
  color: white;
}
#expanded-controls .links {
  text-align: center;
}

#exit-slideshow {
  /*
  position: absolute;
  top: 15px;
  right: 15px;
  */
  width: 35px;
  height: 35px;
  background-image: url('close-thin-white.png');
  z-index: 101;
  display: none;
}
#exit-slideshow:hover {
  background-image: url('close-thin-white.png');
}

.og-grid {
  padding-top: 10px;
}

#preview-map {
  width: 150px;
  height: 150px;
}

#expanded .og-fullimg img:hover {
  cursor: pointer;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 50px solid #DADADA; 
}
.arrow-left {
  width: 0; 
  height: 0; 
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent; 
  border-right:50px solid #DADADA; 
}
.arrow-left:hover{
  border-right:50px solid #fff;
}
.arrow-right:hover{
  border-left:50px solid #fff;
}

.spacer {
  height: 64px;
}

/* Popular Photos */
#popular {
  position: absolute;
  top: 80px;
  width: 213px;
  bottom: 30px;
  right: 8px;
  background: lightgray;
  overflow-y: scroll;
  padding: 0 10px;
  box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
}

.popular-photo {
  padding-bottom: 15px;
}
.popular-photo p {
  margin: 0 auto;
}

/* for "About" page */

#title {
  font-size: 24px;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-left: 5px;
}

#content-area {
  font: 1em;
  width: 960px;
  margin: 0 auto;
  margin-bottom: 50px;
}
#content-area h3{
  padding: 0;
  margin: 0;
  padding-top: 15px;
}

/* image grid */
.rotate-image-button{
  color: blue;
  background: #fff;
  border: none;
  font-family: Helvetica, sans-serif;
  font-size: 100%;
}
.rotate-image-button:hover{
  text-decoration: underline;
}
.rotate-image-button:active{
  border: none;
}

.comments{
  margin-top: 35px !important;
}

.description{
  font-size: 125%;
  line-height: 125%;
  margin-bottom: 1px !important;
}

.og-grid li.og-expanded > a::after {
  border-bottom-color: #fff;
}

.og-expander {
  background: #fff;
}

.og-details h3 {
  font-size: 22px;
}
