button, select {
  font-size: 1em;
}
button#reject {
  margin-left: 5em;
}

#rejects, #reviews {
  margin-top: 1em;
  font-family: monospace;
}

#metadata {
}

img#image {
  display: none;
  position: absolute;
  left: 130ch;
}
