body {
  /*background-color: #F5F0E6;*/
 /* background-color: #f8f8f8;*/
 background-color: #fff;
  font-family: 'Helvetica Neue','Helvetica','Arial',sans-serif;
  font-size: 0.8em;
  text-rendering: optimizeLegibility;
}
a{
	text-decoration: none;
}
#header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 55px;
  min-width:800px;
  z-index: 90;
}

#map {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

#rightpanel {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 240px;
  bottom: 19px;
  background: #fff;
  z-index: 2;
  border-top: 54px solid #d34f4f;
/* -webkit-box-shadow: 0px 0px 3px 1px #bbb;
  -moz-box-shadow: 0px 0px 3px 1px #bbb;
  box-shadow: 0px 0px 3px 1px #bbb;*/
 /* border-top: 1px solid #CCCCCA;*/
  overflow-x: hidden;
}

#carousel {
  position: absolute;
  top: 8px;
  right: 7px;
  width: 220px;
  bottom: 8px;
  overflow: hidden;
  overflow-y: scroll;
}

#about {
  position: absolute;
  top: 8px;
  right: 8px;
 font-family: Arial, Tahoma, Sans-serif;
 font-size: 1.3em;
 padding: 18px 20px 16px 20px;
 background: #d34f4f;
}
#about:hover{
	background: #dc5b5b;
	color: #fff;
	text-decoration: none;
}
#about a, #about a:visited {
  text-decoration: none;
  color: #fff;
}
#about a:hover {
  text-decoration: none;
}
#logo {
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 2.2em;
  height: 54px;
  width: 110px;
  background: #111;
  text-align: center;
}
#logo .wrapper{
	padding: 11px 0;
}
#logo a{
	text-decoration: none;
	color: #ddd;
	font-family: 'Adobe Garamond Pro', serif;
}
#logo:hover{
	text-decoration: none;
	color: #fff;
	background: #1c1c1c;
}
#date_range {
  font-size: 1.8em;
  background: #111;
  width: 145px;
  text-align: center;
  height: 54px;
  color: #ddd;
  font-weight: light;
  font-weight: 300;
  margin: 8px 0 0 118px;
  cursor: pointer;
}
#date_range .wrapper{
	padding: 15px 0;
}
#date_range:hover, #date_range:active {
	background: #1c1c1c;
	color: #fff;
	text-decoration: none;
}
#date_range a, #date_range a:hover {
	text-decoration: none;
}
#twitter {
  position: absolute;
  top: 26px;
  right: 122px;
}
/*new social */
.social{
	position: absolute;
	top: 0px;
	padding: 11px 10px;
	background: #111;
	display: none;
}
.social:hover{
	background: #1a1a1a;
}
.facebook{
	right: 347px;
	padding: 11px 13px;
}
.twitter{
	right: 290px;
}
.pinterest{
	right: 240px;
}

/* end new social*/

#slider-container {
  border: none;
  height: 50px;
  width: 370px;
  margin-left: 8px;
  margin-top: 8px;
  /*background: #d34f4f;*/
  background: #999;
}
#slider-arrow{
  width: 0; 
  height: 0;
  position: absolute;
  top: 55px;
  left: 170px;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #999;
}

#slider {
  position: absolute;
  top: 94px;
  left: 30px;
  width: 326px;
  height: 4px;
}
#slider {
  /*background: #555;*/
  background: #666;
  border: none;
  height: 5px;
}
#slider .ui-slider-range {
	background: #111;
	height: 5px;
}

.ui-slider-horizontal .ui-slider-handle {
  /*background: url('sliderdoodad.png');*/
  background: #111;
  width: 14px;
  height: 14px;
  margin-top: -1px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.ui-slider-horizontal .ui-slider-handle:focus {
  outline: none;
}




#slider_ticks {
  position: absolute;
  top: 24px;
  left: 205px;
  right: 298px;
  height: 20px;
  display: none;
}

.tick {
  position: absolute;
  height:5px;
  width:1px;
 /* background:#8E8F8F;*/
 background: #ccc;
 display: none;
}

.tick_text {
  position: absolute;
  font-size: 1.2em;
  top:6px;
  width:40px;
  margin-left: -20px;
  text-align: center;
  color: #262626;
  display: none;
}







#stats {
  position: absolute;
  left: 90px;
  top: 105px;
  text-transform: uppercase;
  font-size: 12px;
  color: black;
  text-shadow: 1px 1px 2px white;
  display: none;
}

#feedback {
}
#feedback a {
  background-image: url('feedback_tab_white.png');
  text-indent: -1000px;
  width: 22px;
  height: 90px;
  position: absolute;
  left: 0px;
  width: 22px;
  height: 90px;
  bottom: 100px;
  padding: 2px;
  background-color: #c33c3c;
  border-left: none;
 /*  -webkit-box-shadow: 0px 0px 3px 0px #aaa;
  -moz-box-shadow: 0px 0px 3px 0px #aaa;
  box-shadow: 0px 0px 3px 0px #aaa;*/
}

.thumb {
  min-height: 140px;
  background-image: url(spinner.gif);
  background-repeat:no-repeat;
  background-position:center;
  text-align: center;
}

#carousel .thumb {
/* border: 1px solid #FCFBF9; */
  padding-top: 5px;
  padding-bottom: 5px;
}

#carousel .thumb:hover {
  /* border: 1px solid #F5F0E6; */
  background-color: #F5F0E6;
}

.thumb > a {
  cursor:pointer;
}

#curtains {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #111;
  opacity: 0.95;
  z-index: 100;
}

#expanded-carousel {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  margin-top: -250px;
  height: 500px;

  z-index: 100;
}

#expanded-image-holder-template {
  display: none;
}

.expanded-image-holder {
  display: table;  /* fit to content */
  border: 1px solid #111;
  opacity: 0.5;
  background: white;
  padding: 15px;
  margin: 0 50px;
}
.current{
	opacity: 1.0;
}
.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent;
	border-left: 50px solid #DADADA; 
}
.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 40px solid transparent;
	border-bottom: 40px solid transparent; 
	border-right:50px solid #DADADA; 
}
.expanded-link {
  position: absolute;
/*  height: 50px;*/
  top: 50%;
  margin-top: -40px;
/*  width: 50px;*/
  z-index: 100;
  font-size: 20px;
 /* background-color: #e5e5e5;*/
  text-align: center;
}
.arrow-left:hover{
  border-right:50px solid #fff;
}
.arrow-right:hover{
  border-left:50px solid #fff;
}
#next-link {
  right: 40px;
}

#prev-link {
  left: 40px;
}

.library-link {
	/*line-height: 80%;*/
}
.library-link a {
	text-decoration: none;
}

#expanded-twitter {
  position: absolute;
  bottom: 5px;
  left: 10px;
}

/* Credit: http://numerosign.com/notebook/styling-webkit-scrollbars-with-css3/ */
#carousel::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  padding: 18px;
  -webkit-border-radius: 1ex
}

#carousel::-webkit-scrollbar-thumb {
  background-color: rgba(053,057,071,0.3);
  padding: 8px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 1ex;
}

.description {
  margin-left: 0px;
  margin-top: 5px;
  width: 192px;
  line-height: 130%;
}

#expanded-carousel .description {
  width: 100%;
}

#expanded-carousel {
  /* position: relative; */
  overflow: hidden;
}
#expanded-carousel ul {
  width: 20000em;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
}
#expanded-carousel li {
  float: left;
}

.spacer {
  height: 64px;
}


hr {
  border: 0;
  border-bottom: 1px dotted #dadada;
  left: 1px;
  width: 200px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* for "About" page */

#title {
  font-size: 24px;
  margin: 0;
  padding: 0;
  margin-top: 16px;
  margin-left: 5px;
}

#content-area {
font: 1em;
width: 960px;
margin: 0 auto;
margin-bottom: 50px;
}
#content-area h3{
	padding: 0;
	margin: 0;
	padding-top: 15px;
}

