body {
  background-color: #F5F0E6;
}

#title {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 30px;  /* ??? */
  padding: 15px;
  font: 24px Georgia;
  color: #000000;
  background: #F5F0E6;
  border-bottom: 1px solid gray;
}

#title_words {
  position: absolute;
  top: 17px;
  left: 22px;
  right: 0px;
  height: 30px;  /* ??? */
  font: 20px Georgia;
  color: #000000;
}

/* for "About" page */
#content-area {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
  font: 16px Georgia;
  max-width: 600px;
}

#about {
  position: absolute;
  top: 1px;
  right: 0px;
  width: 82px;
  padding-left: 0px;
  height: 60px;  /* ??? */
  /* background-image: url('chevron.png'); */
  background-repeat: no-repeat;
  font: 16px Georgia;
  line-height: 60px;
}
#about > a {
  text-decoration: none;
  color: #000000;
  /*color: white;
  text-shadow: gray 2px 2px 3px;*/
}

/*
#stats {
  position: absolute;
  right: 10px;
  width: 200px;
  top: 70px;
  height: 50px;
  font: 20px Georgia;
}

#instructions {
  font: 20px Georgia;
  font-style: italic;
  color: #878683;
  position: absolute;
  top: 70px;
  height: 30px;
  text-align: center;
  left: 20px;
  right: 270px;
}
*/

#slider {
  position: absolute;
  top: 39px;
  left: 401px;
  right: 348px;
  height: 8px;
}

#date_range {
  font: 24px Georgia;
  font-style: bold;
  color: #FA5E57;
  position: absolute;
  top: 7px;
  left: 560px;
  right: 270px;
  height: 20px;
  text-align: left;
}

#map {
  position: absolute;
  top: 61px;
  left: 0px;
  right: 240px;
  bottom: 0px;
}

#info {
  position: absolute;
  top: 67px;
  right: 5px;
  width: 220px;
  padding: 5px;
  bottom: 7px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: rgba(255,255,255,.75);
  border-radius: 15px;
}

.thumb {
  min-height: 140px;
  background-image: url(spinner.gif);  /* TODO(danvk): find a transparent one */
  background-repeat:no-repeat;
  background-position:center;
  text-align: center;
}

.thumb > a {
  cursor:pointer;
}

#expanded {
  position: absolute;
  z-index: 100;
  border: 1px solid #D8D0C6;
  background: rgba(247, 246, 240, 0.9);
  padding: 10px;
}

#expanded button {
  float: right;
}

#expanded img {
  margin: 0 auto;
}

/* Credit: http://numerosign.com/notebook/styling-webkit-scrollbars-with-css3/ */
#info::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  padding: 18px;
  -webkit-border-radius: 1ex
}

#info::-webkit-scrollbar-thumb {
  background-color: rgba(053,057,071,0.3);
  padding: 8px;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 1ex;
}

.description {
  font-family: Tahoma, sans-serif;
  font-size: 13px;
}

hr {
  border: 0;
  border-bottom: 1px solid #A9A8A6;
  left: -8px;
  width: 200px;
  position: relative;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ui-slider-horizontal .ui-slider-handle {
  width: 20px;
  height: 12px;
  top: -3px;
  margin-left: -10px;
}

