{# Help-about page
 #
 # Copyright 2008-2009 Proven Corporation Co., Ltd., Thailand
 #
 # This file is part of App Engine Console.
 #
 # App Engine Console is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, version 3 of the License.
 #
 # App Engine Console is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with App Engine Console; if not, write to the Free Software
 # Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 #}

{% extends "help.html" %}

{% block helpcontent %}
    <h3>Overview</h3>
    <p>
        App Engine Console
        is a tool to aid development on Google App Engine. It is a traditional
        interactive Python session running in the server, which you use from a web browser.  It
        is designed to be embedded within other applications to allow convenient testing, debugging,
        and maintenance.  App Engine Console has the following features:
    </p>
    <ul>
        <li><strong>Browser-based console</strong>
            <ul>
                <li>Just like running Python interactively from the command line</li>
                <li>Direct access to your application's run-time code and data</li>
                <li>Optional syntax highlighting</li>
                <li>Exceptions, modules, and types link to their own documentation on python.org</li>
            </ul>
        </li>
        <li><strong>Convenience</strong>
            <ul>
                <li>Automatically imports an <tt>autoexec.py</tt> module to which you can add
                    your own code, then run it from the console</li>
                <li>Quick access to the datastore, application dashboard, and Google Analytics</li>
                <li>Pastebin integration</li>
                <li>Instant messaging between team members</li>
            </ul>
        </li>
        <li><strong>Security</strong>
            <ul>
                <li>Only site administrators may use the console when in production</li>
                <li>Optionally return HTTP 404 to non-authorized users ("cloaked mode")</li>
                <li>Logs the email address, statements, and output of all activity</li>
            </ul>
        </li>
    </ul>

    <h3>Purpose</h3>
    <p>
        With App Engine Console, it is easy to perform the following tasks:
    </p>
    <ul>
        <li>Testing ideas before making changes to code</li>
        <li>Debugging an App Engine application</li>
        <li>Sophisticated datastore maintenance and manipulation (both development and production environments)</li>
    </ul>

    <h3>Try It</h3>
    <p>
        <a href="/console/help/usage">Read how it works</a>, or just
        <a href="/console/">try the demo</a>! If you are not logged in,
        you will raise a very droll exception with a link to log in. (<strong>Note:</strong>
        App Engine Console is developed mostly with Firefox on Linux, so if you notice
        a bug with another browser, please notify me.)
    </p>
    <p>
        App Engine Console is free software.  To download it, see
        its <a href="{{project}}">project page</a>.  If you have Git installed, simply
        clone <tt>git://proven-corporation.com/app-engine-console/</tt>.  You may also
        <a href="http://github.com/jhs/app-engine-console/">browse the source code</a> at the
        GitHub mirror.
    </p>

    <h3>Credits</h3>
    <p>
        App Engine Console is developed by Jason Smith
        at <a href="http://www.proven-corporation.com/">Proven Corporation</a>.
        Please <a href="http://www.proven-corporation.com/contact">contact me</a>
        with questions, comments, or suggestions.  Thank you.
    </p>
{% endblock %}
