{# Console help page template
 #
 # Copyright 2008-2009 Proven Corporation Co., Ltd., Thailand
 #
 # This file is part of App Engine Console.
 #
 # App Engine Console is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, version 3 of the License.
 #
 # App Engine Console is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with App Engine Console; if not, write to the Free Software
 # Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 #}

{% extends "interface.html" %}

{% block body %}
    <div class="helpcontent">
        {% block helpcontent %}
            HELP CONTENTS GOES HERE
        {% endblock %}
    </div>
{% endblock %}

{% block poweredby %}
    <div class="badge">
      <a href="http://code.google.com/appengine/"><img
       src="http://code.google.com/appengine/images/appengine-noborder-120x30.gif"
       alt="Powered by Google App Engine"></a>
    </div>
    <div class="badge">
        <a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-html401-blue" alt="Valid HTML 4.01 Strict" height="31" width="88"></a>
    </div>
{% endblock %}
