{# Usage instructions template
 #
 # Copyright 2008-2009 Proven Corporation Co., Ltd., Thailand
 #
 # This file is part of App Engine Console.
 #
 # App Engine Console is free software; you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, version 3 of the License.
 #
 # App Engine Console is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with App Engine Console; if not, write to the Free Software
 # Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 #}

{% extends "help.html" %}

{% block helpcontent %}
    <h3>The Console</h3>
    <p>
        First enable Javascript in your browser, then click on the <em>Console</em> tab above.  The large gray
        square on top is the console output, and the small input line on bottom is where you type your text.
        If you see green Python-style banner in the output window, then everything is working.
    </p>

    <h4>Authorization</h4>
    <p>
        Depending on the environment, App Engine Console may require you to log in first.  You can always simply
        enter a statement, and if you lack authorization, App Engine Console will tell you to log in first:
    </p>
    <div class="example pygments">{{example1}}</div>

    <h4>Interaction</h4>
    <p>
        Once you gain authorization to use the console, everything is pretty much just like a Python session.
        Type statements at the prompt and press Enter to submit them to Python.  Press the up and down
        arrow keys to move through the statement history, and type <tt>clear</tt> to clear the screen.
    </p>
    <div class="example pygments">{{example2}}</div>

    <h4>Settings</h4>
    <p>
        Near the top of the page are a few options, labeled "Settings," which enable or disable optional features
        in App Engine Console:
    </p>
    <ul>
        <li><strong>Highlighting / No Highlighting</strong>: Change this to enable or disable syntax highlighting.</li>
        <li><strong>Teamwork Settings</strong>:
            <ul>
                <li><em>Flying Solo</em> (default): Just the basic interactive Python session</li>
                <li><em>Pastebin</em>: Open a session with pastebin.com (shared copy-and-paste) beneath the console</li>
                <li><em>Chatting</em>: Open a chat and instant messaging window next to the console interface.  (While this
                    can be useful for team members to have a quick conversation, remember that the conversation is not private.)</li>
            </ul>
        </li>
    </ul>

    <h3>The Dashboard</h3>
    <p>
        If you are like me, and you spend lots of time at the interactive Python console, you want useful links and tools handy.
        The <em>Dashboard</em> tab is a quick and easy way to manage your application's data.  Essentially, it just embeds the
        Google-provided web management interface for your application.  The dashboard has two modes of operation:
    </p>
    <ul>
        <li><strong>Development</strong> (default from the SDK): Displays the development console, from which you may
            browse the local datastore, or use the built-in interactive console (but why would you want to do that?)</li>
        <li><strong>Production</strong> (default from appspot.com): Displays the appspot dashboard for your
            application.  From there, you can check your quota, change versions, or perform any other administrative tasks.
            You could use the datastore data viewer, however for advanced usage, consider
            <a href="/console/help/integration">integrating App Engine Console in your own application</a> and
            using it for more advanced datastore manipulation and maintenance.
        </li>
        <li>
            <strong>Analytics</strong> (only available if you configure your <tt>analytics_id</tt> in <tt>config.py</tt>):
            Displays the latest Google Analytics reports for your public web site (presumably hosted by App Engine).
        </li>
    </ul>
{% endblock %}
