body {
  background-color: #F8F8F5;
}

button {
  font:1em/1em Arial,sans-serif;
}

#carousel {
  top: 45px;
  left: 8px;
  width: 96px;
  border-right: 1px solid black;
  text-align: center;
  position: absolute;
  z-index: 1;
}

#record {
  width: 500px;
  position: absolute;
  top: 25px;
  left: 104px;
  border: 1px solid black;
  border-top-left-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 0;
}

#geocode {
  position: absolute;
  top: 25px;
  left: 625px;
  width: 500px;
  border-top: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-family: Georgia, Serif;
  font-weight: normal;
}

h2.title {
  font-style: italic;
  padding-bottom: 10px;
  color: #5E5E5E;
}

#record h2.title {
  text-align: right;
  padding-right: 60px;
}

#geocode h2.title {
  text-align: left;
  padding-left: 60px;
}

h2.in-frame {
  background: #F8F8F5;
  position: absolute;
  top: -35px;
  left: 50px;
  padding-left: 10px;
  padding-right: 10px;
  color: #C8C8C8;
}

#record h2.in-frame {
}

#geocode h2.in-frame {
}

#record {
  font-family: Georgia, Serif;
}
#title {
  text-align: center;
}

.carousel-image {
  width: 96px;
  height: 64px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid black;
  /* border-right: 1px solid black; */
}
.current-image {
  /*background-color: rgb(224,224,224);*/
  border-right: 1px solid white;
}
.carousel-image-img {
  max-width: 86px;
}
div.image {
  margin-left: auto;
  margin-right: auto;
}
#search_error {
  color: red;
  font-size: 75%;
}
.instructions {
  font-size: small;
}
div.rating-cancel,
div.rating-cancel a
{
display:none; width:0;height:0;overflow:hidden;
}  

div.ratings-div {
  font-size: small;
  position: absolute;
  right: 20px;
}

h2 {
  margin-bottom: 2px;
}
