/* App Engine Console main style
 *
 * Copyright 2008-2009 Proven Corporation Co., Ltd., Thailand
 *
 * This file is part of App Engine Console.
 *
 * App Engine Console is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, version 3 of the License.
 *
 * App Engine Console is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with App Engine Console; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 */

/* Font size reference:
 * 10 77%      19 146.5%
 * 11 85%      20 153.9%
 * 12 93%      21 161.6%
 * 13 100%     22 167%
 * 14 108%     23 174%
 * 15 116%     24 182%
 * 16 123.1%   25 189%
 * 17 131%     26 197%
 * 18 138.5%
 */

/* The default state is to have the sidebar not visible. */
.yui-t5 > #bd > #yui-main > .yui-b {
    margin-right: 0;
}
.yui-t5 > #bd > #yui-main > .yui-b.has-sidebar {
    margin-right: 19.4515em; /* 253px */
}

.yui-t5 > #bd > .yui-b {
    width: 0;
}
.yui-t5 > #bd > .yui-b.has-sidebar {
    width: 18.4515em; /* 240px */
}

h1, h2, h3, h4 {
    font-weight: bold;
}

h3 {
    font-size: 146.5%; /* 19px */
}

h4 {
    font-size: 123.1%; /* 16px */
}

.helpcontent ul {
    margin-left: 2em;
}

.helpcontent ul > li {
    list-style: disc;
}

.helpcontent ul > li > ul > li {
    list-style: circle;
}

.helpcontent ul strong {
    font-weight: bold;
}

h1 {
    font-size: 138.5%; /* 18px */
    color: #4B4545;
    text-align: center;
}

form#console_form {
    float: left;
    width: 100%;
}

.notice {
    clear: both;
    background-color: #d2413a;
    background-color: #def2f1;
    border: 1px solid #999999;
    margin: 1em 0;
    padding: 0.5em 1em;
}

table.settings {
    font-size: 123.1%; /* 16px */
    width: 60em;

    border-width: 1px 1px 1px 1px;
    border-spacing: 2px;
    border-style: outset;
    border-color: #000000;
    border-collapse: collapse;
}

table.settings thead {
    border-width: 1px;
    border-style: inset;
    border-color: #000000;
}

table.settings th {
    font-weight: bold;
    padding: 1px;
}

table.settings td {
    padding: 1px;
    border-width: 1px;
    border-style: inset;
    border-color: #c0c0c0;
}

table.settings td.variable {
    font-size: 93%;
    font-family: monospace, "lucida console", Courier;
    font-weight: bold;
}

table.settings tr {
    vertical-align: top;
}

table.settings .default {
}

table.settings td.default {
    font-family: monospace, "lucida console", Courier;
    font-size: 85%;
}

.helpcontent {
    width: 45em;
}

.helpcontent > ul,
.helpcontent p {
    font-size: 123.1%; /* 16px */
}

.helpcontent p {
    margin: 0.5em 1em;
}

.helpcontent h4 {
    margin: 0.75em 0;
}

.helpcontent tt {
    background-color: #f3f3f3;
}

.helpcontent strong tt {
    background-color: inherit;
    font-size: 116%; /* 15px */
}

.helpcontent .example {
    background-color: #f3f3f3;
    border: 1px solid #999999;
    margin: 0 1em;
    padding: 0.3em 0.5em;
}

div.links {
    float: right;
}

div.mainmenu {
    clear: both;
    padding-top: 1em;
}

div.badge {
    float: left;
    margin-top: 1em;
    margin-right: 2em;
}

div.badge img {
    border-width: 0;
}

div#talkinator {
    float:right;
    padding-right: 5px;
    width: 0;
    height: 542px;
    display: none;
    border-width: 1px 1px 2px;
    border-color: #93b7fa;
    background-color: #f3f3f3;
}

div#pastebin {
    padding-top: 1em;
    clear: both;
}

input.textbox {
    font-family: monospace, "lucida console", Courier;
    border: 1px solid #93b7fa;
    padding: 2px 0;
    margin-top: .3em;
    width: 100%;
}

#console_area {
    display: block;
    padding: 2px 0;
    width: 100%;
    margin-top: .3em;
    height: 450px;
    overflow: auto;
}

#console_output {
    font-family: monospace, "lucida console", Courier;
}

#console_output span {
    /* white-space: -moz-pre-wrap; */ /* Mozilla */
    /* white-space: -o-pre-wrap; */ /* Opera 7 */
    white-space: normal; /* CSS 2.1 */
    /* white-space: pre-line; */ /* CSS 3 (and 2.1 as well, actually) */
    /* word-wrap: break-word; */ /* IE */
    /* wrap-option: emergency; */ /* CSS 3 */
}

#console_output div.statement,
#console_output div.statement pre {
    margin: 0;
    display: inline;
}

#console_output pre.output,
#console_output div.output pre {
    margin: 0;
}

#console_output .output span,
#console_output div.statement pre span {
    white-space: pre-wrap;
}

#console_output span.statement.plain {
    white-space: pre-wrap;
}

#prompt {
    float: left;
    width: 2em;
    font-size: 123.1%; /* 16px */
    padding-top: 2px;
    margin-top: 0.2em;
}

div.promptBox {
    margin-left: 2.5em;
    padding-right: 2px;
}

input.textbox:focus { background-color: #FFFEE3; }

#console_output .statement, #console_output .prompt { color: blue; }
#console_output .output { color: black; }
#console_output .error { color: red; }
#console_output .banner {
    color: green;
    margin: 0;
}
#console_output .invisible { display: none; }

.pygments * {
    color: inherit;
}

/* Pygments styles for syntax hilighting */
.pygments .hll { background-color: #ffffcc }
.pygments { background: #f3f3f3; }
.pygments .c { color: #408080; font-style: italic } /* Comment */
.pygments .err { background-color: #D2413A; } /* Error */
.pygments .k { color: #008000; font-weight: bold } /* Keyword */
.pygments .o { color: #666666 } /* Operator */
.pygments .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.pygments .cp { color: #BC7A00 } /* Comment.Preproc */
.pygments .c1 { color: #408080; font-style: italic } /* Comment.Single */
.pygments .cs { color: #408080; font-style: italic } /* Comment.Special */
.pygments .gd { color: #A00000 } /* Generic.Deleted */
.pygments .ge { font-style: italic } /* Generic.Emph */
.pygments .gr { color: #FF0000 } /* Generic.Error */
.pygments .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.pygments .gi { color: #00A000 } /* Generic.Inserted */
.pygments .go { color: black; } /* Generic.Output */
.pygments .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.pygments .gs { font-weight: bold } /* Generic.Strong */
.pygments .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.pygments .gt { color: #0040D0 } /* Generic.Traceback */
.pygments .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.pygments .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.pygments .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.pygments .kp { color: #008000 } /* Keyword.Pseudo */
.pygments .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.pygments .kt { color: #B00040 } /* Keyword.Type */
.pygments .m { color: #666666 } /* Literal.Number */
.pygments .s { color: #BA2121 } /* Literal.String */
.pygments .na { color: #7D9029 } /* Name.Attribute */
.pygments .nb { color: #008000 } /* Name.Builtin */
.pygments .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.pygments .no { color: #880000 } /* Name.Constant */
.pygments .nd { color: #AA22FF } /* Name.Decorator */
.pygments .ni { color: #999999; font-weight: bold } /* Name.Entity */
.pygments .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.pygments .nf { color: #0000FF } /* Name.Function */
.pygments .nl { color: #A0A000 } /* Name.Label */
.pygments .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.pygments .nt { color: #008000; font-weight: bold } /* Name.Tag */
.pygments .nv { color: #19177C } /* Name.Variable */
.pygments .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.pygments .w { color: #bbbbbb } /* Text.Whitespace */
.pygments .mf { color: #666666 } /* Literal.Number.Float */
.pygments .mh { color: #666666 } /* Literal.Number.Hex */
.pygments .mi { color: #666666 } /* Literal.Number.Integer */
.pygments .mo { color: #666666 } /* Literal.Number.Oct */
.pygments .sb { color: #BA2121 } /* Literal.String.Backtick */
.pygments .sc { color: #BA2121 } /* Literal.String.Char */
.pygments .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.pygments .s2 { color: #BA2121 } /* Literal.String.Double */
.pygments .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.pygments .sh { color: #BA2121 } /* Literal.String.Heredoc */
.pygments .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.pygments .sx { color: #008000 } /* Literal.String.Other */
.pygments .sr { color: #BB6688 } /* Literal.String.Regex */
.pygments .s1 { color: #BA2121 } /* Literal.String.Single */
.pygments .ss { color: #19177C } /* Literal.String.Symbol */
.pygments .bp { color: #008000 } /* Name.Builtin.Pseudo */
.pygments .vc { color: #19177C } /* Name.Variable.Class */
.pygments .vg { color: #19177C } /* Name.Variable.Global */
.pygments .vi { color: #19177C } /* Name.Variable.Instance */
.pygments .il { color: #666666 } /* Literal.Number.Integer.Long */
